---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">

    <div class="post-collection-description">
      {{ content }}
   </div>
    
    {% assign blog_posts = site.posts | where:"section",page.title }} %}

    {%- if blog_posts.size > 0 -%}
      <ul class="post-list">
        {%- for post in blog_posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if page.show_excerpts -%}
            {{ post.excerpt }}
            <a class="page-link" href="{{ post.url | relative_url }}"> Continue </a>

          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
      
    {%- endif -%}

  </div>

</article>
